@import 'theme';

body {
	background-color: $a-b;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	user-select: none;
	margin-left: 28vw;
	margin-right: 28vw;
	margin-top: 2vh;
	user-select: auto !important;
	::selection {
		background: $t-b;
	}

	@media screen and (max-width: 1000px) {
		margin-left: 22vw;
		margin-right: 22vw;
	}
	@media screen and (max-width: 620px) {
		margin-left: 18vw;
		margin-right: 18vw;
	}
	@media screen and (max-width: 480px) {
		margin-left: 12vw;
		margin-right: 12vw;
	}
}

.heading-wrapper {
	margin-top: 6vh;
	margin-bottom: 4vh;
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 480px) {
		flex-direction: column-reverse;
	}
	.lhs {
		width: 72%;
		.heading {
			@include hero;
		}
		.subheading {
			margin-top: 8px;
			@include body-2;
		}
		@media screen and (max-width: 480px) {
			width: 100%;
			margin-top: 16px;
		}
	}
	.rhs {
		label {
			width: 66px;
			height: 38px;
			transform: translateY(-12px);
			position: relative;
			display: block;
			background: $t-b;
			border-radius: 40px;
			cursor: pointer;
		}
		label:after {
			content: '';
			width: 32px;
			height: 32px;
			position: absolute;
			top: 3px;
			left: 3px;
			background-color: $t-f;
			border-radius: 180px;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
		}
		input {
			width: 0;
			height: 0;
			visibility: hidden;
		}
		input:checked + label:after {
			left: 63px;
			transform: translateX(-100%);
		}
		label:after {
			transition: 0.3s;
			transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
		}
		label:active:after {
			width: 32px;
		}
		label img {
			position: absolute;
			z-index: 100;
			top: 11px;
			left: 11px;
			display: flex;
		}
		label {
			.dark {
				img {
					left: 40px;
				}
			}
		}
	}
}

.divider {
	width: auto;
	height: 1px;
	background: $t-b;
	border-radius: 4px;
	opacity: 0.5;
}

.content-wrapper {
	margin-top: 4vh;
	margin-bottom: 8vh;
	.content {
		margin-bottom: 60px;

		.heading {
			@include heading;
			margin-bottom: 8px;
		}
		.subheading {
			@include subheading;
			margin-top: 32px;
			margin-bottom: 8px;
		}
		.body {
			@include body-1;
		}

		.sub-body {
			.pointer {
				margin-top: 16px;
			}
		}
	}
	img {
		margin-top: 20px;
		width: 100%;
	}
}

.footer {
	display: flex;
	justify-content: space-between;
	@include body-2;
	opacity: 0.5;
	margin-bottom: 4vh;

	a {
		text-decoration: none;
		@include body-2;
	}
}
