@font-face {
  src: url(/resources/Source_Serif_Pro/SourceSerifPro-Regular.ttf);
  font-family: serif-pro;
  font-weight: 400;
}
@font-face {
  src: url(/resources/Source_Serif_Pro/SourceSerifPro-SemiBold.ttf);
  font-family: serif-pro;
  font-weight: 600;
}
@font-face {
  src: url(/resources/Source_Serif_Pro/SourceSerifPro-SemiBoldItalic.ttf);
  font-family: serif-pro;
  font-weight: 600;
  font-style: italic;
}
@font-face {
  src: url(/resources/Inter/Inter-Regular.ttf);
  font-family: inter;
  font-weight: 400;
}
@font-face {
  src: url(/resources/Inter/Inter-Medium.ttf);
  font-family: inter;
  font-weight: 600;
}
@font-face {
  src: url(/resources/Inter/Inter-SemiBold.ttf);
  font-family: inter;
  font-weight: 800;
}
@font-face {
  src: url(/resources/Charter/Charter_Regular.ttf);
  font-family: Charter;
  font-weight: 400;
}
@font-face {
  src: url(/resources/Charter/Charter_Bold.ttf);
  font-family: Charter;
  font-weight: 800;
}
body {
  background-color: var(--a-b);
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-left: 28vw;
  margin-right: 28vw;
  margin-top: 2vh;
  -webkit-user-select: auto !important;
     -moz-user-select: auto !important;
          user-select: auto !important;
}
body ::-moz-selection {
  background: var(--t-b);
}
body ::selection {
  background: var(--t-b);
}

.heading-wrapper {
  margin-top: 6vh;
  margin-bottom: 4vh;
  display: flex;
  justify-content: space-between;
}
.heading-wrapper .lhs {
  width: 72%;
}
.heading-wrapper .lhs .heading {
  color: var(--f-h);
  font-family: serif-pro;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 42px;
}
.heading-wrapper .lhs .subheading {
  margin-top: 8px;
  color: var(--f-l);
  font-size: 12px;
  font-family: inter;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.3px;
}
.heading-wrapper .rhs label {
  width: 54px;
  height: 30px;
  transform: translateY(-12px);
  position: relative;
  display: block;
  background: var(--t-b);
  border-radius: 20px;
  cursor: pointer;
}
.heading-wrapper .rhs label:after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 3px;
  left: 3px;
  background-color: var(--t-f);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.heading-wrapper .rhs input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.heading-wrapper .rhs input:checked + label:after {
  left: 51px;
  transform: translateX(-100%);
}
.heading-wrapper .rhs label:after {
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.heading-wrapper .rhs label:active:after {
  width: 32px;
}
.heading-wrapper .rhs label img {
  position: absolute;
  z-index: 100;
  top: 8px;
  left: 8px;
  display: flex;
}
.heading-wrapper .rhs label .dark img {
  left: 32px;
}

.divider {
  width: auto;
  height: 1px;
  background: var(--t-b);
  border-radius: 4px;
  opacity: 0.5;
}

.content-wrapper {
  margin-top: 4vh;
  margin-bottom: 8vh;
}
.content-wrapper .content {
  margin-bottom: 20px;
}
.content-wrapper .content .heading {
  color: var(--f-m);
  font-size: 16px;
  font-family: Charter;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: -0.3px;
  margin-bottom: 2px;
}
.content-wrapper .content .body {
  color: var(--f-m);
  font-size: 14px;
  font-family: Charter;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.3px;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: var(--f-l);
  font-size: 12px;
  font-family: inter;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.3px;
  opacity: 0.5;
  margin-bottom: 4vh;
}
.footer a {
  text-decoration: none;
  color: var(--f-l);
  font-size: 12px;
  font-family: inter;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.3px;
}/*# sourceMappingURL=style.css.map */