$a-b: var(--a-b);
$f-h: var(--f-h);
$f-m: var(--f-m);
$f-l: var(--f-l);
$b-h: var(--b-h);
$t-b: var(--t-b);
$t-f: var(--t-f);

@mixin hero {
	color: $f-h;
	font-family: serif-pro;
	font-size: 44px;
	font-weight: 600;
	letter-spacing: -1px;
	line-height: 42px;
}
@mixin heading {
	color: $f-m;
	font-size: 28px;
	font-family: Charter;
	font-weight: 600;
	line-height: 34px;
	letter-spacing: -0.8px;
}
@mixin subheading {
	color: $f-m;
	font-size: 20px;
	font-family: Charter;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: -0.3px;
}
@mixin body-1 {
	color: $f-m;
	font-size: 16px;
	font-family: Charter;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.3px;
}
@mixin body-2 {
	color: $f-l;
	font-size: 12px;
	font-family: inter;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -0.3px;
}

@font-face {
	src: url(/resources/Source_Serif_Pro/SourceSerifPro-Regular.ttf);
	font-family: serif-pro;
	font-weight: 400;
}
@font-face {
	src: url(/resources/Source_Serif_Pro/SourceSerifPro-SemiBold.ttf);
	font-family: serif-pro;
	font-weight: 600;
}
@font-face {
	src: url(/resources/Source_Serif_Pro/SourceSerifPro-SemiBoldItalic.ttf);
	font-family: serif-pro;
	font-weight: 600;
	font-style: italic;
}
@font-face {
	src: url(/resources/Inter/Inter-Regular.ttf);
	font-family: inter;
	font-weight: 400;
}
@font-face {
	src: url(/resources/Inter/Inter-Medium.ttf);
	font-family: inter;
	font-weight: 600;
}
@font-face {
	src: url(/resources/Inter/Inter-SemiBold.ttf);
	font-family: inter;
	font-weight: 800;
}
@font-face {
	src: url(/resources/Charter/Charter_Regular.ttf);
	font-family: Charter;
	font-weight: 400;
}
@font-face {
	src: url(/resources/Charter/Charter_Bold.ttf);
	font-family: Charter;
	font-weight: 800;
}
@font-face {
	src: url(/systems/resources/wishshore.ttf);
	font-family: Calendas;
	font-weight: 600;
}
